.karaokeWrapper {
  width: 100vw;
  height: fit-content;
  background-color: hotpink;
  display: flex;
  flex-direction: column;
}

.karaokeHeader {
  width: 100%;
  height: 20%;
  background-color: #d70c7a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.karaokeHeaderText {
  color: white;
  text-decoration: none;
}




.songWrapper {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 2vh;
  height: fit-content;
  width: 100%;
  background-color: hotpink;;
  flex-direction: column;
}

.karaokeSongs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: fit-content;
  width: 100%;
  /* padding-top: 3vh; */
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(238,155,176,1) 100%);
  /* flex-direction: column; */
}


.karaokeSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  min-height: 95vh;
  width: 100%;
  /* padding-top: 3vh; */
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(238,155,176,1) 100%);
  /* flex-direction: column; */


} 





.karaokeCard {

  /* justify-content: center; */
  /* align-items: center; */
  height: fit-content;
  width: 70%;
  margin-bottom: 1vh;
  background-color: #222725;
  text-align: center;
}

.karaokeCard h1 {
  color: white;
}

.karaokeCard img {
  width: 95%;
  padding: 1vh;
  height: 70%;
}

.bilde {
  width: 70%;
  border-radius: 150px;
}

.spinningimg {
  animation: App-logo-spin infinite 5s linear;
  animation-iteration-count: infinite;
}



@keyframes App-logo-spin {
  0%   {fill:red; transform: rotate(0deg);}
  25%  {fill:yellow; transform: rotate(90deg);}
  50%  {fill:#61dafb; transform: rotate(180deg);}
  75%  {fill:yellow; transform: rotate(270deg);}
  100% {fill:red; transform: rotate(360deg);}
}

.songBox {
  height: 100vh;
  width: 100vw;
}

.tester {
  width: 100vw;
  height: 20vh;
  margin-top: 10vh;
}

.record {
  width: 90%;
  height: 6vh;
  border-radius: 10px;
  margin: 0 auto;
  /* border-image: linear-gradient(to right, rgba(44,203,205,1) 0%, rgba(248,165,176,1) 100%) 1;
  border-radius: 5px;
  border-width: 4px;
  border-style: solid;
  padding: 5px; */
  border: none;
  /* filter: drop-shadow(10px 10px 2em linear-gradient(0deg, rgba(44,203,205,1) 0%, rgba(248,165,176,1) 100%));
  filter: drop-shadow(0 0 2em #61dafbaa); */
  position: relative;
  transform: translate(0);
  transform-style: preserve-3d;
}

#record::before {
  content:"";
  position: absolute;
  inset: -5px;
  transform: translate3d(0px,0px,-1px);
  background: conic-gradient(
    from 90deg at 40% -25%,
    rgb(44,203,205), 
    rgb(60, 185, 205),
    rgb(76, 167, 205),
    rgb(92, 149, 205),
    rgb(108, 131, 205),
    rgb(124, 113, 205),
    rgb(140, 95, 205),
    rgb(156, 77, 205),
    rgb(172, 59, 205),
    rgb(188, 41, 205),
    rgb(204, 23, 205),
    rgb(220, 5, 205),
    rgb(236, -13, 205),
    rgb(44,203,205)  /* Repeat first color to close the loop */
  );
  
  filter: blur(10px);
}

#pause::before {
  content:"";
  position: absolute;
  inset: -5px;
  transform: translate3d(0px,0px,-1px);
  background: conic-gradient(
    from 90deg at 40% -25%,
    rgb(44,203,205), 
    rgb(60, 185, 205),
    rgb(76, 167, 205),
    rgb(92, 149, 205),
    rgb(108, 131, 205),
    rgb(124, 113, 205),
    rgb(140, 95, 205),
    rgb(156, 77, 205),
    rgb(172, 59, 205),
    rgb(188, 41, 205),
    rgb(204, 23, 205),
    rgb(220, 5, 205),
    rgb(236, -13, 205),
    rgb(44,203,205)  /* Repeat first color to close the loop */
  );
  
  
  
  


  filter: blur(10px);
}




.mic {
  width: 90%;
  height: 6vh;
  border-radius: 10px;
  margin: 10px auto;
  /* background-color: burlywood; */
}
.recordings {
  background-color: red;
}

/* p {
  white-space-collapse: break-spaces;
} */

.sangTekst {
  width: 90%;
  font-size: 1.6em;
  line-height: 1.6em;
  white-space-collapse: break-spaces;
}


.redNav {
  background-color: black;
  border-bottom: white 1px solid;
}

.redSong {
  background: linear-gradient(0deg, rgba(150,0,0,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}

.redRecord {
  background-color: black;
  color: white;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid white;
}

.redMic {
  background-color: black;
  color: white;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid white;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}


@media screen and (orientation: landscape) {
  * {
    overflow: hidden;
  }
  .vibeCheck {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
  }

  .appen {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .vibeCheck {
    display: none;
  }
}