* {
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@media (orientation: landscape) {
    .main-header {
        width: 100vw;
        height: 17vh;
        background-color: black;
        position: sticky;
        top: 0vh;

    }
}
@media (orientation: portrait) {
    .main-header {
        width: 100vw;
        height: 15vh;
        background-color: black;
        position: sticky;
        top: 0vh;

    }
}

@media (orientation: landscape) {
    .logo {
        width: 5vw;
        margin-left: 2vw;
        margin-top: 1vh;
        height: 5vw;
    }
}

@media (orientation: portrait) {
    .logo {
        width: 18vw;
        height: 15vh;
    }
}

@media (orientation: landscape) {
    .navbar {
    margin-top: -8vh;
    display: grid;
    grid-template-columns: repeat(3, 0.33fr);
    }
}
@media (orientation: portrait) {
    .navbar {
    margin-top: -11vh;
    display: grid;
    grid-template-columns: repeat(3, 0.33fr);
    }
}

@media (orientation: landscape) {
    .buttons {
        background-color: rgb(200, 200, 200);
        padding: 1vw;
        text-decoration: none;
        color: black;
        margin-left: 20vw;
        text-align: center;
    }
}
@media (orientation: portrait) {
    .buttons {

        background-color: rgb(200, 200, 200);
        padding: 1vw;
        width: 25vw;
        height: 5vh;
        text-decoration: none;
        color: black;
        margin-left: 20vw;
        text-align: center;
    }
}

.buttons:hover {
    background-color: blue;
    border: 1px solid white;
}
.frontpage-article {
    width: 100vw;
    height: 200vh;
        background: rgba(0,0,0,0.5);
}
.cumbar-image {
position: absolute;
position: sticky;
left: 100px;
top: 100px;
z-index: -1;
width: 100vw;

}
@media (orientation: portrait) {
    .cumbar-image {

    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 200vw;
    overflow: hidden;
    }
}

.main-footer {
    width: 100vw;
    height: 20vh;
    background-color: lime;
}